* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#canvas {
    border: 1px solid black;
    position: absolute;
    top: 48%;
    left: 44.3%;
    transform: translate(-50%, -50%);
    width: 48vw;
    height: 66vh;
    background-image: url('./docs/assets/images/pixelart.jpg.webp');
    background-size: cover;
    border-radius: 10px;   
}
.tv {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}